/* Styles for Fitbit Versa 3 page */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #1ebbe7;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  section {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #0c0c0c;
  }
  
  h2 {
    color: #14df32;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  ul {
    padding: 0;
  }
  
  li {
    margin-bottom: 15px;
  }
  
  li::before {
    content: "\2022"; /* Bullet character */
    color: #007bff; /* Bullet color */
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
  
  li span {
    font-weight: bold;
    color: #333;
  }
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0eace5;
    color: #090808;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  button:hover {
    background-color: #13c513;
  }
  
  